# -*- coding: utf-8 -*-
import os

BASEDIR = os.path.dirname(os.path.realpath(__file__))
DEBUG = True
TEMPLATE_DEBUG = DEBUG

ADMINS = (
    ('Admin Name', 'admin@email'),
)

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': os.path.join(BASEDIR, 'sqlite.db'),
    }
}
SECRET_KEY = 'A secret key'

# settings for url checking
URL_SEQUENCE_MAX_VAL = 144

# ec2 management related settings
# please note that access to port 8888 must be available from all IPs
# for your default AWS security group
AWS_ACCESS_KEY = 'access-key-id'
AWS_SECRET = 'access-key-secret'
EC2_IMAGE_ID = 'ami-a29943cb'
EC2_INSTANCE_TYPE = 't1.micro'

EC2_SSH_PUBLIC_KEYS = [
    'ssh-rsa my-ssh-key my-id',
]
EC2_ALLOWED_IPS = [
    'ip.add.re.ss',
]
